$primary-color: #008000;
$secondary-color: #90ee90;
$transparent-green: rgba(34, 59, 20, 0.8);
$light-color: rgb(249, 246, 244);
$dark-color: rgb(9, 9, 8);
$gray-color: #292828;
$medium-color: #d3d3d3;
$default-border: $medium-color 0.07em solid;
$dark-border: $gray-color 0.07em solid;
$nav-height: 3.2em;
$nav-width: 100vw;
$codeblock-font: 'Roboto',
sans-serif;
$app-content-color: #FFFEF2;
$transparent-color: rgba(0, 0, 0, 0);
* {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
}


/*DISPLAYS*/

.display--block {
    display: block;
}

.display--none {
    display: none;
}


/*HEADER NAVIGATION*/

.topnav {
    height: $nav-height;
    width: $nav-width;
    border-bottom: $default-border;
    background-color: $light-color;
    position: fixed;
    display: flex;
    justify-content: space-around;
    &__logosection {
        height: $nav-height;
        display: flex;
        width: 10vw;
    }
    
    p {
        padding-top: 1.5vh;
        font-size: 1em;
    }

    img {
        padding: 0.07em;
        flex-basis: 8vw;
        width: 50%;
        padding-top: 0;
    }
    &__linksection {
        width: 80%;
        display: flex;
        justify-content: space-around;
        a {
            text-decoration: none;
            color: $primary-color;
            padding: 0.7em;
        }
    }
}


/*dropdown for headernav*/

.dropdown {
    position: relative;
    display: inline-block;
    &__dropbtn,
    &__dropbtn2,
    &__dropbtn3,
    &__dropbtn4 {
        background-color: $light-color;
        color: $primary-color;
        font-size: 1.3em;
        padding: 0.6em;
        border: none;
    }
    &__content,
    &__content2,
    &__content3,
    &__content4 {
        display: none;
        position: absolute;
        background-color: $light-color;
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
            color: $dark-color;
            text-decoration: none;
            display: block;
        }
        a:hover {
            background-color: $medium-color;
        }
    }
}

.dropdown:hover {
    .dropdown__content,
    .dropdown__content2,
    .dropdown__content3,
    .dropdown__content4 {
        display: block;
    }
    .dropdown__dropbtn,
    .dropdown__dropbtn2,
    .dropdown__dropbtn3,
    .dropdown__dropbtn4 {
        background-color: $primary-color;
        color: $light-color;
    }
}


/*MAIN CONTENT*/

main {
    padding: 10%;
}

#h1--uppercase {
    text-transform: uppercase;
    font-size: 4em;
    padding-bottom: 0.25em;
}

h2, h3, h4 {
    padding: 0.8em 0;
}

h2{
    border-bottom: $default-border;
}

h3{
    font-size: 1.3em;
}

img{
    padding: 0.06em;
    width: 20vw;
}
/*image display box*/
.imagebox{
    max-width: 20vw;
    padding: 1.25em;
    margin: 0.625em;
    text-align: center;
    img{
        max-width: 20vw;
        padding-top: 1.25em;
    }
    a:hover {
        background-color: $medium-color;
    }
}
.colorbox--wraper{
    text-align: center;
}
.colorbox{
    width: 20 vw;
    height: 20 vh;
    padding:1.25em;
    margin: 1.25em;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#darkgreen{
    background-color: $transparent-green;
    color:white;
}

#green{
    background-color: $primary-color;
}

#lightgreen{
    background-color: $secondary-color;
}

#darkcolor{
    background-color: $dark-color;
    color:white;
}

#grey{
    background-color: $gray-color;
    color:white;
}

#mediumcolor{
    background-color: $medium-color;
}

#lightcolor{
    background-color: $light-color;
}

#secondlight{
    background-color: $app-content-color;
}

.logo__sheep--big, .logo__sheep--big--dark{
    margin: 0.625em;
    text-align: center;
}
.logo__sheep--big::before {
    content: url('images/sprout_sheep_big.svg');
}

.logo__sheep--big--dark::before {
    content: url('images/sprout_sheep_dark.svg');   
}

/*font samples*/
#font-samples{
    margin:1.2em;
    font-size: 1.2em;
    :nth-child(2){
        font-style: italic;
    }
    :nth-child(3){
        font-weight: 700;
    }
    :nth-child(4){
        font-weight: 700;
        font-style: italic;
    }
}


/*code example box*/

.codebox {
    background-color: $gray-color;
    color: $light-color;
    margin: 0.8em 0;
    ul {
        display: flex;
    }
    li {
        list-style-type: none;
        width: 70%;
        font-family: $codeblock-font;
        padding: 1%;
        background-color: $dark-color;
    }
    li:hover {
        background-color: $primary-color;
        cursor: pointer;
    }
    &__content {
        background-color: $gray-color;
        min-height: 20vh;
    }
}

.codebox__content{
    padding: 2em 0;
}

.codebox__content--example {
    margin: .5em 0;
}

.defaultpre {
    margin: 0;
    padding: 0;
}

pre[class*="language-"] {
    margin: 0;
}


/* Codeblock AppContent */

.appcontent {
    min-height: 10vh;
    width: 90%;
    background-color: $app-content-color;
    border: 0.063em black solid;
    border-radius: 0.35em;
    margin: 0 auto;
}

.codebox__content--contentBlockExample {
    margin-top: 5%;
}


/* Codeblock Heading */

.codebox__content--headingExample {
    h1 {
        color: white;
        letter-spacing: 0.1em;
        font-weight: lighter;
        padding: 2%;
        text-align: center;
    }
    h2 {
        color: black;
        font-weight: lighter;
        padding: 1%;
        text-align: center;
        border:none;
    }
    h3 {
        color: white;
        text-align: left;
        font-weight: lighter;
        padding: 1%;
        margin-left: 5%;
    }

    .appcontent{
        min-height: 0;
    }
}


/*Codeblock Lists*/

.codebox__content--lists {
    ul {
        display: block;
    }
    li {
        background-color: $transparent-color;
        color: black;
        width: 90%;
    }
    li::before {
        content: url('images/growth.svg');
        margin: 1.25em;
    }
    li:hover {
        background-color: $transparent-color;
        cursor: auto;
    }
}

/*Codeblock Links*/

.codebox__content--links {
    ul{
        display: block;
        width: 40%;
    }
    li{
        background-color: $transparent-green;
        padding: 6%;
        border-bottom: $dark-border;
    }    
    li:hover{
        background-color: rgba(23, 44, 10, 0.8);
    }
}

/*Codeblock Button*/

.bell--activated, .bell--deactivated, .bell--activated2, .bell--deactivated2 {
    fill: $light-color;
    height: 10vh;
    margin: 0 auto;
}

.appcontent {
    .bell--activated2, .bell--deactivated2 {
        fill: $dark-color;
    }
}

.codebox__content--buttonBlockExample {
    .appcontent{
        display: flex;
        color: $dark-color;
        p {
            padding: 5% 2vw;
            width: 400%;
            font-size: 1.5em;
        }
        svg {
            margin-top: 3.5%;
            height: 6vh;
        }
    }

    .appcontent:hover{
        box-shadow: 1px 1px 1px 1px $medium-color;
    }
}

/*Codeblock Formelements*/

.fa-caret-down {
    float: right;
    padding-right: 8px;
    padding-top: 2px;
}

.dropdown-btn {
    width: 100%;
}

.dropdown-btn, .dropdown-container a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.25em;
    color: $dark-color;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
.codebox__content--contentForm{
    .appcontent{
        min-height: 0;
    }
}

.dropdown-container {
    a{
        border-top: 1px black solid;
    }
    display: none; 
    
}

/* Codeblock navigation */

.container {
    display: inline-block;
    cursor: pointer;
    padding: 0.5% 1%;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: $light-color;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  .navigation--app {
      img{
        height: 5vh;
        float: right;               
        padding: 0.5vh;
      }
  }

  .logo__sheep--after {
      padding: 0;
      float: right;
  }

  .logo__sheep--after::after {
      content: url('images/sprout_sheep.svg');
      float: right;
  }

.navigation--app{
    background-color: $transparent-green;
    height: $nav-height;
    width: 60%;
    margin: 0 auto;
}
/* Layout */



/*FOOTER*/

footer {
    width: 100%;
    background-color: $secondary-color;
    text-align: center;
} 


/* responsive */

@media screen and (max-width: 600px) {
    .topnav__linksection {
      display: none;
    }
  }