$primary-color: green;
$secondary-color: lightgreen;
$light-color: white;
$dark-color: black;
$gray-color: #292828;
$medium-color: lightgrey;
$default-border: $medium-color 1px solid;
$nav-height: 6vh;
$nav-width: 100vw;
$codeblock-font: 'Roboto', sans-serif;
 
* {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}

/*DISPLAYS*/

.display--block {
  display: block;
}

.display--none {
  display: none;
}

/*HEADER NAVIGATION*/

.topnav {
  height: $nav-height;
  width: $nav-width;
  border-bottom: $default-border;
  background-color: $light-color;
  position: fixed;
  display: flex;
  justify-content: space-around;

  &__logosection {
    height: $nav-height;
    display: flex;
    width: 10vw;
  }

  img {
    padding: 1px;
    flex-basis: 8vw;
  }

  p {
    padding-top: 1.5vh;
    font-size: 110%;
  }

  &__linksection {
    width: 80%;
    display: flex;
    justify-content: space-around;

    a {
      text-decoration: none;
      color: $primary-color;
      padding: 10px;
    }
  }
}

/*dropdown for headernav*/

.dropdown {
  position: relative;
  display: inline-block;

  &__dropbtn,
  &__dropbtn2,
  &__dropbtn3,
  &__dropbtn4 {
    background-color: $light-color;
    color: $primary-color;
    font-size: 2.5vh;
    padding: 1.36vh;
    border: none;
  }

  &__content,
  &__content2,
  &__content3,
  &__content4 {
    display: none;
    position: absolute;
    background-color: $light-color;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
      color: $dark-color;
      text-decoration: none;
      display: block;
    }

    a:hover {
      background-color: $medium-color;
    }
  }
}

.dropdown:hover {
    .dropdown__content,
    .dropdown__content2,
    .dropdown__content3,
    .dropdown__content4 {
      display: block;
    }

    .dropdown__dropbtn,
    .dropdown__dropbtn2,
    .dropdown__dropbtn3,
    .dropdown__dropbtn4 {
      background-color: $primary-color;
      color: $light-color;
    }
  }


/*MAIN CONTENT*/

main {
  padding: 10%;
}

/*code example box*/

.codebox {
  background-color: $gray-color;
  color: $light-color;
  text-align: center;

  ul{
    display: flex;
  }

  li{
    list-style-type: none;
    width: 10%;
    font-family: $codeblock-font;
    padding: 1%;
  }

  li:hover{
    background-color: $primary-color;
    cursor: pointer;
  }

  &__content {
    background-color: $gray-color;
    min-height: 20vh;
  }
}

.codebox__content--example {
  margin: .5em 0;
}

/*FOOTER*/

footer {
  height: 4vw;
  width: 100%;
  background-color: $secondary-color;
  text-align: center;
}
